@media (hover: hover) {
  .word {
    transition-property: font-size;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
  }

  .word:hover {
    @apply text-[7vw] font-KnewaveRegular;
    @apply bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500;
    /* Add and remove additional space to get the text cut off issue fixed */
    padding-left: 0.2em;
    margin-left: -0.2em;
  }
}
