@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.dark {
  --color-bg-primary: #171717;
  --color-bg-secondary: #313a55;
  --color-bg-invert: #ffffff;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-invert: #293145;
  --color-text-accent: #81e6d9;
  --color-border-primary: #313a55;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #ffffff;
  --color-bg-invert: #293145;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-invert: #ffffff;
  --color-text-accent: #2b6cb0;
  --color-border-primary: #e4e6eb;
}

@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "KnewaveRegular";
    src: url("/fonts/knewave/knewave-webfont.eot");
    src: url("/fonts/knewave/knewave-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/knewave/knewave-webfont.woff") format("woff"),
      url("/fonts/knewave/knewave-webfont.ttf") format("truetype"),
      url("/fonts/knewave/knewave-webfont.svg#KnewaveRegular") format("svg");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "KnewaveOutlineRegular";
    src: url("/fonts/knewave/knewave-outline-webfont.eot");
    src: url("/fonts/knewave/knewave-outline-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/knewave/knewave-outline-webfont.woff") format("woff"),
      url("/fonts/knewave/knewave-outline-webfont.ttf") format("truetype"),
      url("/fonts/knewave/knewave-outline-webfont.svg#KnewaveOutlineRegular")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

/* Below font-face is for deployed version on github pages */
/* Added repository name as sub-directory */

@layer base {
  @font-face {
    font-family: "KnewaveRegular";
    src: url("/my-portfolio/fonts/knewave/knewave-webfont.eot");
    src: url("/my-portfolio/fonts/knewave/knewave-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("/my-portfolio/fonts/knewave/knewave-webfont.woff") format("woff"),
      url("/my-portfolio/fonts/knewave/knewave-webfont.ttf") format("truetype"),
      url("/my-portfolio/fonts/knewave/knewave-webfont.svg#KnewaveRegular")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "KnewaveOutlineRegular";
    src: url("/my-portfolio/fonts/knewave/knewave-outline-webfont.eot");
    src: url("/my-portfolio/fonts/knewave/knewave-outline-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("/my-portfolio/fonts/knewave/knewave-outline-webfont.woff")
        format("woff"),
      url("/my-portfolio/fonts/knewave/knewave-outline-webfont.ttf")
        format("truetype"),
      url("/my-portfolio/fonts/knewave/knewave-outline-webfont.svg#KnewaveOutlineRegular")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
}

.background-overlay {
  background-repeat: no-repeat;
  background-position: top;
  background-position: center top;
  background-size: 1400px;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Hide Scrollbar */
/* ::-webkit-scrollbar {
  display: none;
} */
